<div class="card">
    <div class="card-body">
        <div class="top-bar">
            <div class="row">
                <div class="col-3">
                    <div>
                        <label class="form-label">Min Price</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Enter Min Price"
                            [(ngModel)]="minPrice"
                        />
                    </div>
                </div> 
                <div class="col-3">
                    <div>
                        <label class="form-label">Max Price</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Enter Max Price"
                            [(ngModel)]="maxPrice"
                        />
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <label class="form-label">Type</label>
                        <select class="form-control" [(ngModel)]="type">
                            <option [value]="'rent'">Rent</option>
                            <option [value]="'sell'">Sell</option>
                        </select>
                    </div>
                </div>
                <div class="col-3 align-self-end">
                    <div>
                        <button class="btn btn-dark" (click)="search()">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" id="searchTable">
                <thead>
                    <tr>
                        <th>City</th>
                        <th>Street</th>
                        <th>House No.</th>
                        <th>No. Of Rooms</th>
                        <th>Price</th>
                        <th class="text-end">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr">
                        <td>london</td>
                        <td>Street 10</td>
                        <td>204</td>
                        <td>3</td>
                        <td>200000 Pounds</td>
                        <td class="text-end">
                            <button class="btn btn-secondary me-2">View</button>
                            <button class="btn btn-dark">
                                Interested
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>