<div [@fadeIn] class="container">
    <div class="serv_home_1">
        <div class="title">
            <app-heading heading1="PROPERTY" heading2="SERVICES"></app-heading>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="serv_home_1i">
                 <div class="serv_home_1i1">
                  <h4 class="mgt col">Houses</h4>
                  <p class="col">Nonec pede justo fringilla vel aliquet nec vulputate eget arcu in enim justo rhoncus ut imperdiet venenatis vitae justo.</p>
                  <h5><a class="col" [routerLink]="['/signup']">Explore More <i class="fa fa-long-arrow-right"></i></a></h5>
                 </div>
                 <div class="serv_home_1i2">
                  <span><i class="fa fa-home"></i></span>
                 </div>
                </div>
             </div>
             <div class="col-md-4">
                 <div class="serv_home_1i">
                  <div class="serv_home_1i1">
                   <h4 class="mgt col">Apartments</h4>
                   <p class="col">Nonec pede justo fringilla vel aliquet nec vulputate eget arcu in enim justo rhoncus ut imperdiet venenatis vitae justo.</p>
                   <h5><a class="col" [routerLink]="['/signup']">Explore More <i class="fa fa-long-arrow-right"></i></a></h5>
                  </div>
                  <div class="serv_home_1i2">
                   <span><i class="fa fa-home"></i></span>
                  </div>
                 </div>
             </div>
             <div class="col-md-4">
             <div class="serv_home_1i">
                 <div class="serv_home_1i1">
                 <h4 class="mgt col">Comercial</h4>
                 <p class="col">Nonec pede justo fringilla vel aliquet nec vulputate eget arcu in enim justo rhoncus ut imperdiet venenatis vitae justo.</p>
                 <h5><a class="col" [routerLink]="['/signup']">Explore More <i class="fa fa-long-arrow-right"></i></a></h5>
                 </div>
                 <div class="serv_home_1i2">
                 <span><i class="fa fa-home"></i></span>
                 </div>
             </div>
             </div>
        </div>
    </div>
</div>