    <div [@fadeIn] class="banner-main">
        <img src="../../../assets/images/contactus.jpg" >
        <div class="content">
            Let Us Make Your Experience Better.
        </div>
    </div>
    <div [@fadeIn] class="serv_home_1">
        <div class="title">
            <app-heading heading1="COMPANY" heading2="INFORMATION"></app-heading>
        </div>
        <div class="val">
            <div class="suport">
                <div class="h2">AssetPlus</div>
                <div class="l">
                    <p>
                        Grange Farm <br />
                        Colesden <br />
                        Bedford <br />
                        Bedfordshire <br />
                        MK44 3DB
                    </p>
                </div>
                <div class="l">
                    tel: <strong> +44 (0)1234 958859</strong>
                </div>
                <div class="l">
                    email: <strong> support@assetplus.com</strong>
                </div>
            </div>
            <div class="reg">
                <p>Company Reg: 06936223 <br />
                    VAT Reg. No.: GB 110 4860 54</p>
                    <p>Registered in England and Wales</p>
            </div>
        </div>
    </div>
