<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <img src="../../../assets/images/logo1.png" class="logo" alt="logo" />
          <a class="navbar-brand" [routerLink]="['/']">AssetPlus</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-between" id="navbarText">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" [routerLink]="['/']" [routerLinkActive]="'active'">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/features']" [routerLinkActive]="'active'">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contact-us']" [routerLinkActive]="'active'">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/meeting-calendar']" [routerLinkActive]="'active'">Calendar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/rate-plan']" [routerLinkActive]="'active'">Rate Plan</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/view-all']" [routerLinkActive]="'active'">Property Search</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/analytics']" [routerLinkActive]="'active'">Analytics</a>
              </li>
            </ul>
            <div class="div">
              <button class="btn click me-3" [routerLink]="['/login']">Login</button>
              <button class="btn click" [routerLink]="['/signup']">Signup</button>
            </div>
          </div>
        </div>
    </nav>
</header>